.site-order-check {
  h1 {
    color: $primary-color2;
  }

  h3{
    color: $primary-color1;
  }

  table{
    margin-bottom: 50px;
  }

  h4{
    margin-bottom: 30px;
  }

  p.remarks{
    font-weight:bold ;
  }
}